<footer style="background-color: #333; color: #fff; text-align: center; position: fixed; bottom: 0; width: 100%; z-index: 999;" >
  <p>&copy; 2023 <a href="https://afaqshahidkhan.vercel.app/" class="text-white" target="_blank">AfaqShahidKhan</a></p>
</footer>
