<h1>This is Home page</h1>
<h2>This is a simple project of article listing made on ruby on rails and performe the crud functionalities</h2>
<%= link_to "Articles listing", articles_path %>
<%= link_to "About page", about_path %>
